<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2>Events Index Page</h2>

  <%= link_to " Make an Event", new_baby_event_path, :class => "btn btn-success glyphicon glyphicon-hand-right" %>
  <br>
  <br>
  <p><%= link_to "#{@baby.name}'s Profile", baby_path(@baby) %></p>

  <% @events.each do |event| %>
    <li><%= link_to event.topic, "/babies/#{@baby.id}/events/#{event.id}" %></li>
  <% end %>

  </div>

</div>

<div id="visualization"></div>

<div id="hidden"><h1 id="hidden-header"></h1>
  <div id="off">Close</div>
  <p class="blurb">
  </p>
</div>