<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h1><%= "#{@baby.name}'s Timeline" %></h1>

  </div>

</div>

<hr>

<%= content_tag :div, class: "temp_information", data: {temp: @events} do %>
<% end %>

<div id="visualization" class="change"></div>

<div class="btn-margins-large">
    <%= link_to " Make an Event", new_baby_event_path, :class => "btn btn-success", :data => {toggle: "modal", target: "#myModal"} %>
    <%= link_to "#{@baby.name}'s Profile", baby_path(@baby), :class => "btn btn-info"  %>

</div>
<!-- <button id="adjust" class="btn btn-info">Adjust</button> -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>