<div class="row">
  <div class="col-md-8 col-offset-md-2">
    <h1><%= "#{@baby.name}'s Timeline" %></h1>
  </div>
</div>

<div class="btn-margins-large">
  <div class="float-right">
    <%= link_to " Make an Event", new_baby_event_path, :class => "btn btn-success", :data => {toggle: "modal", target: "#myModal"} %>
    <%= link_to "#{@baby.name}'s Profile", baby_path(@baby), :class => "btn btn-info"  %>
  </div>
</div>
<body>
  <div id="my-timeline"></div>
</body>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>