<% @babies.each do |baby| %>
<div class="my-babies">
  <img class="baby-profile" src="http://www.saintthomashealth.com/media/uploads/images/hr_baby.jpg">
  <ul class="baby-list"><strong><%= baby.name %></strong>
    <li><%= link_to "Profile", baby_path(baby), :class => "grey-text" %></li>
    <li><%= link_to "Timeline", baby_events_path(baby), :class => "grey-text" %></li>
  </ul>
</div>
<% end %>