<div class="first-time-user text-center">
  <h2>Welcome to Woolli</h2>


  <p>Thank you for joining, now let fun begin!</p>
  <p>Woolli allows you to create a virtual baby photo album book to saver all of those precious moments. The software is easy to use and all your images will be organized in a timeline manner. The timeline can be used to keep track of special events or notes without the need of requiring pictures to further enhance your experience.</p>
  <p>Woolli also allows you to keep track of your baby's growth. So update your child's measurements often and see instant comparisons with the national averages.</p>

  <%= image_tag("wooli_front_purple.png", class: "new-user-image") %>

  <h3>Start Now!</h3>

  <%= link_to "New Baby", new_baby_path, :data => {toggle: 'modal', target: '#babyModal'}, :class => "btn btn-primary btn-lg fist-timer-btn"  %>

  <ul class="new-user-list">
    <li>Simply press New Baby to add your child.</li>
    <li>Add all photos and events in the timeline section.</li>
    <li>Add all measurements in the measurements section.</li>
  </ul>

  <h4>Have fun and enjoy your baby's new Woolli!</h4>
</div>
