<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2>Babies Index Page</h2>

  <div class="baby-maker">
    <%= link_to " Make a Baby", new_baby_path, :class => "btn btn-success glyphicon glyphicon-hand-right" %>
  </div>

  <% @babies.each do |baby| %>
  <div class="babies">
    <ul class="baby-list"><strong><%= baby.name %></strong>
      <li><%= link_to "Profile", baby_path(baby) %></li>
      <li><%= link_to "Timeline", baby_events_path(baby) %></li>
    </ul>
  </div>
  <% end %>

  </div>
</div>