  <div class="col-md-12 container">
    <div class="row index-header">
      <h2>My Babies</h2>
    </div>

    <div class="row text-center babies-row">
      <%= render partial: 'babies' %>
    </div>

    <div class="row">
      <div class="baby-maker">
        <%= link_to "Add a Child", new_baby_path, :class => "btn btn-info btn-lg", :data => {toggle: 'modal', target: '#babyModal'} %>
      </div>
    </div>

  </div>


<!-- New Baby Modal -->
<div class="modal fade bs-modal-sm" id="babyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
    </div>
  </div>
</div>