<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2>My baby</h2>

  <h4><%= @baby.name %></h4>
  <p><strong>Birthday: </strong><%= @birthday %></p>
  <img class="timeline-img" src="http://blog.brainfacts.org/wp-content/uploads/happy-baby.jpg">
  <div class="btn-margins-large">
  <%= link_to "Measurements", baby_stats_path(@baby), :class => "btn btn-info"%>
  <%= link_to "Timeline", baby_events_path(@baby), :class => "btn btn-info" %>
  </div>
</div>