<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2>My baby</h2>

  <h4><%= @baby.name %></h4>
  <p><strong>Birthday: </strong><%= @baby.birthday %></p>
  <p><%= link_to "Measurements", baby_stats_path(@baby) %></p>
  <p><%= link_to "Timeline", baby_events_path(@baby) %></p>
  </div>
</div>