<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2>My baby</h2>

  <h4><%= @baby.name %></h4>
  <p><%= @baby.birthday %></p>
  <%= link_to "Cool", baby_stats_path(@baby) %>
  </div>
</div>