<div class="row text-center">
  <div class="col-md-8 col-offset-md-2">

    <h2>Create an Album</h2>

    <!-- link to open cloudinary widget for direct uploads -->
    <a href="#" id="upload_widget_opener" class="add-media-btn">Upload Images</a>

    <!-- form for uploading images -->
    <%= bootstrap_form_for [@baby, @event, @medium] do |f| %>

      <!-- thumbnails displayed here -->
      <div class="preview"></div>

      <%= f.submit "Sumbit", :class => "btn btn-info btn-lg" %>

    <% end %>

  </div>
</div>
