<div class="row">
    <div class="small-width col-md-3">
      <h4>Riley Joseph</h4>
      <img src="">
      <p></p>
    </div>
    <div class="small-width col-md-3">
      <h4>Ben Piggot</h4>
      <img src="">
      <p></p>
    </div>
    <div class="small-width col-md-3">
      <h4>Sean Villagracia</h4>
      <img src="">
      <p></p>
    </div>
    <div class="small-width col-md-3">
      <h4>Greg Wyszynski</h4>
      <img src="">
      <p></p>
    </div>
</div>
