<div class="row about-page">
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
     <h4>Riley Joseph</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/DEJulnXb.png">
        <img class="bottom" src="http://i.imgur.com/7Qpo3DAb.jpg?1">
      </div>
    <div class="about-body text-center row text-center">
      <ul class="list-inline social-buttons">
        <li><a href="#" class="fa fa-github"></a></li><li> <a href="#" class="fa fa-linkedin"></a></li><li> <a href="#" class="fa fa-twitter"></a></li>
      </ul>
      <h4><strong>Developer | Charty McCharterson</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Ben Piggot</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/zoasyWO.jpg">
        <img class="bottom" src="http://i.imgur.com/nK589JB.jpg">
      </div>
    <div class="about-body text-center row">
      <ul class="list-inline social-buttons">
        <li><a href="#" class="fa fa-github"></a></li><li> <a href="#" class="fa fa-linkedin"></a></li><li> <a href="#" class="fa fa-twitter"></a></li>
      </ul>      <h4><strong>Developer | Master of the Git</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Sean Villagracia</h4>
    </div>
      <div class="row about-pic">
        <a href="https://svillagracia.github.io/" target="_blank"><img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2"></a>
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row">
      <ul class="list-inline social-buttons">
        <li><a href="#" class="fa fa-github"></a></li><li> <a href="#" class="fa fa-linkedin"></a></li><li> <a href="#" class="fa fa-twitter"></a></li>
      </ul>      <h4><strong>The World's Loudest Developer | Project Manager</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Greg Wyszynski</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/30C5r5Rb.png">
        <img class="bottom" src="http://i.imgur.com/lixP7ldb.jpg">
      </div>
    <div class="about-body text-center row">

      <ul class="list-inline social-buttons">
        <li><a href="#" class="fa fa-github"></a></li><li> <a href="#" class="fa fa-linkedin"></a></li><li> <a href="#" class="fa fa-twitter"></a></li>
      </ul>      <h4><strong>Developer | Captain Cloudinary</strong></h4>
       <h4><strong>Developer | Captain Cloudinary</strong></h4>
      <p>A former ski bum and kayak guide turned developer. Greg came down from the mountain to design and build web apps. Recreation and travel are Greg's motivation to build beautiful, responsive, and scalable products.</p>

    </div>
    </div>
</div>
