<div class="row about-page">
    <div class="col-md-3 col-sm-3 col-xs-12 dev-column">
    <div class="name text-center row">
     <h4>Riley Joseph</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/DEJulnXb.png">
        <img class="bottom" src="http://i.imgur.com/7Qpo3DAb.jpg?1">
      </div>
    <div class="about-body text-center row text-center">
      <ul class="list-inline social-buttons">
        <li><a href="#" target="_blank" class="fa fa-github"></a></li><li> <a href="#" target="_blank" class="fa fa-linkedin"></a></li><li> <a href="#" target="_blank" class="fa fa-twitter"></a></li>
      </ul>
      <h4><strong>Developer | Charty McCharterson</strong></h4>
      <p class="bio text-center">University of Oklahoma gratuate with B.A. in Entrepreneurship and New Venture Management, Riley is a web developer passionate about music, people, technology, and helping those around him enjoy life. He loves problem solving and building unique, beautiful websites.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 dev-column">
    <div class="name text-center row">
      <h4>Ben Piggot</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/zoasyWO.jpg">
        <img class="bottom" src="http://i.imgur.com/nK589JB.jpg">
      </div>
    <div class="about-body text-center row">
      <ul class="list-inline social-buttons">
        <li><a href="#" target="_blank" class="fa fa-github"></a></li><li> <a href="#" target="_blank" class="fa fa-linkedin"></a></li><li> <a href="#" target="_blank" class="fa fa-twitter"></a></li>
      </ul>
      <h4><strong>Developer | Master of the Git</strong></h4>
      <p class="bio text-center"> Formerly a professional historian, Ben is a web developer passionate about visualizing information in new and powerful ways. He is primarily a front-end developer who works in a variety of JavaScript frameworks and libraries, but also enjoys working with databases. He also has two small children, which helped the team create example pages when devleoping this website.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 dev-column">
    <div class="name text-center row">
      <h4>Sean Villagracia</h4>
    </div>
      <div class="row about-pic">
        <a href="https://svillagracia.github.io/" target="_blank"><img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2"></a>
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row">
      <ul class="list-inline social-buttons">
        <li><a href="https://www.github.com/svillagracia" target="_blank" class="fa fa-github"></a></li><li> <a href="https://www.linkedin.com/in/svillagracia" target="_blank" class="fa fa-linkedin"></a></li><li> <a href="https://twitter.com/itstheseanzy" target="_blank" class="fa fa-twitter"></a></li>
      </ul>
      <h4><strong>Time(line) Traveler | Project Manager</strong></h4>
      <p class="bio text-center">Former actor, occassional writer, road-tripper, and probably the world's loudest developer. Sean once built Angelfire web pages for Pokémon web rings after school. After exploring
      other options, he finally came back to what he enjoyed most. Coding fulfills his love of tinkering, motivating him to create and build wonderful modern products.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 dev-column">
    <div class="name text-center row">
      <h4>Greg Wyszynski</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/30C5r5Rb.png">
        <img class="bottom" src="http://i.imgur.com/lixP7ldb.jpg">
      </div>
    <div class="about-body text-center row">
      <ul class="list-inline social-buttons">
        <li><a href="#" target="_blank" class="fa fa-github"></a></li><li> <a href="#" target="_blank" class="fa fa-linkedin"></a></li><li> <a href="#" target="_blank" class="fa fa-twitter"></a></li>
      </ul>
      <h4><strong>Developer | Captain Cloudinary</strong></h4>
      <p class="bio text-center">A former ski bum and kayak guide turned developer. Greg came down from the mountain to design and build web apps. Recreation and travel are Greg's motivation to build beautiful, responsive, and scalable products.</p>

    </div>
    </div>
</div>
