<div class="row about-page">
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
     <h4>Riley Joseph</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2">
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row text-center">
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Ben Piggot</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2">
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row">
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Sean Villagracia</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2">
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row">
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Greg Wyszynski</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/30C5r5Rb.png">
        <img class="bottom" src="http://i.imgur.com/lixP7ldb.jpg">
      </div>
    <div class="about-body text-center row">
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
    </div>
    </div>
</div>
