<div class="row about-page">
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
     <h4>Riley Joseph</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/DEJulnXb.png">
        <img class="bottom" src="http://i.imgur.com/7Qpo3DAb.jpg?1">
      </div>
    <div class="about-body text-center row text-center">
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
      <h4><strong>Developer | Charty McCharterson</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Ben Piggot</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/zoasyWO.jpg">
        <img class="bottom" src="http://i.imgur.com/nK589JB.jpg">
      </div>
    <div class="about-body text-center row">
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
      <h4><strong>Developer | Master of the Git</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Sean Villagracia</h4>
    </div>
      <div class="row about-pic">
        <a href="https://svillagracia.github.io/" target="_blank"><img class="top" src="http://i.imgur.com/mpnabyAb.jpg?2"></a>
        <img class="bottom" src="http://i.imgur.com/S7BxRKCb.jpg">
      </div>
    <div class="about-body text-center row">
      <a href="https://www.github.com/svillagracia" class="fa fa-github btn btn-primary" target="_blank"></a> <a href="https://www.linkedin.com/in/svillagracia" class="fa fa-linkedin btn btn-primary" target="_bank"></a> <a href="https://www.twitter.com/itstheseanzy" class="fa fa-twitter btn btn-primary" target="_blank"></a>
      <h4><strong>The World's Loudest Developer | Project Manager</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    <div class="name text-center row">
      <h4>Greg Wyszynski</h4>
    </div>
      <div class="row about-pic">
        <img class="top" src="http://i.imgur.com/30C5r5Rb.png">
        <img class="bottom" src="http://i.imgur.com/lixP7ldb.jpg">
      </div>
    <div class="about-body text-center row">
      <a href="#" class="fa fa-github btn btn-primary"></a> <a href="#" class="fa fa-linkedin btn btn-primary"></a> <a href="#" class="fa fa-twitter btn btn-primary"></a>
      <h4><strong>Developer | Captain Cloudinary</strong></h4>
      <p>Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers. Text goes here for about the developers.</p>
    </div>
    </div>
</div>
