<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 welcome-title">
    <h1 class="welcome-message">Welcome to BabyBook!</h1>

    <a href="/auth/facebook">Login with facebook yo!</a>

  </div>
</div>