<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 welcome-title">
    <div class="welcome-message">
      <%= image_tag("wooli_front_purple.png") %>
      <br>
      <h1>Woolli
      <p><small>Your Baby's Memories Captured and Never Forgotten</small></p></h1>

      <a class="btn btn-primary btn-md fa fa-facebook-official" href="/auth/facebook"> Facebook Sign In</a>
    </div>

  </div>
</div>