
.welcome-title {
  background: url(baby.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 89vh;
  width: 110%;
  overflow-x: hidden;
  text-align: center;
}

.welcome-message {
  margin-top: 20%;
}

.babies {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

.baby-list {
  margin-top: 5px;
  list-style: none;
}

#visualization {
  margin: 5% 0;
  height: 30%;
  width: 90%;
}

#hidden {
  font-weight: 200;
  width: 90%;
  height: 660px;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 2% auto;
  position: absolute;
  top: 0;
  left: 5%;
  text-align: center;
  font-size: 25px;
/*  border: 1px solid black;*/
  display: none;
  z-index: 100;
}

#hidden-header {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  font-size: 50px;
}

#off {
  line-height: 36px;
  position: absolute;
  font-size: 16px;
  top: 3px;
  right: 3px;
  height: 32px;
  width: 60px;
  color: #000;
  cursor: pointer;
}