/****** GENERAL SITE STYLES *******/

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgba(251,255,216,.5);
}

.navbar-default {
  color: #CCFFFF;
}

li {
  list-style-type: none;
}

.container {
  margin-top: -5px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

a.edit-link {
  color: gray;
}

.add-profile {
  height: 220px;
  width: 220px;
}

.add {
  padding-top: 45%;
}

.my-babies {
  display: inline-block;
  margin: 0 5%;
}

.profile-img {
  border-radius: 100%;
}


/****** HOME PAGE STYLES *******/

.first-time-user {
  width: 95%;
  margin: 0 auto;
}

.new-user-image {
  margin: 0 auto;
  display: block;
}

.new-user-list {
  padding-left: 0;
}

/***********************/

.navbar-default .navbar-nav>li>a {
  color: #000000;
}

/******* ABOUT **************/
.small-width {
  width: 25%;
  float: left;
}
/***********************/

/****** BUTTON STYLES *******/

.btn-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-margins-large {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-margins-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-margins-top {
  margin-top: 15px;
  margin-bottom: -5px
}

.btn-margins-bottom {
  margin-top: -5px;
  margin-bottom: 15px;
}
/***********************/


/****** SOCIAL BUTTONS *******/
.social-container {
  margin-top: 20px;
}

.social-container .links {
  margin-bottom: 40px;

  }

.social-container .links a {
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #fff;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-twitter:hover {
  color: #75caeb;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-facebook:hover {
  color: #44609D;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-google-plus:hover {
  color: #DD4B39;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-pinterest:hover {
  color: #BD081C;
  }

.source {
  width: 350px;
  margin: 0 auto;
  background: #eee;
  color: #666;
  font-weight: bold;
  display: block;
  white-space: pre;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
  -webkit-box-shadow: inset #ccc 0px 0px 6px 0px;
     -moz-box-shadow: inset #ccc 0px 0px 6px 0px;
      box-shadow: inset #ccc 0px 0px 6px 0px;
  }
/***************************/



/**** SPLASH PAGE ****/
.welcome-title {
  background-image: url(image-path('baby.jpg'));
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 89vh;
  width: 110%;
  left: -5%;
  text-align: center;
  overflow-x: hidden;
}

.welcome-message {
  margin-top: 20%;
}
/***********************/



/****** STYLE FOR PROFILE PIC **************
.baby-profile {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
}
*******************************************/



/***** BABIES INDEX PAGE AND RELATED PARTIAL *******/
.my-babies {
  display: inline-block;
  margin: 0 5%;
  background-color:#84d5e8;
  border-radius: 20px;
  border: 5px solid #8bbce4;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.baby-profile {
  margin-top: 2%;
}

.horizontal-class {
  margin-top: 5%;
  text-align: center;
}

.baby-info {

  margin-top: 20px;
  margin-bottom: 20px;
}

body > div.container > div.col-md-12.container > div > div > div.horizontal-class > li {
  display: inline-block;
}

.float-right {
  float: right;
  margin-left: 30px;
  margin-top: 0px;
}

.float-left {
  float: left;
  margin-right: 30px;
  margin-top: 30px
}

.babies {
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

a.edit-link {
  color: gray;
}

.add-profile {
  height: 220px;
  width: 220px;
}

.add {
  padding-top: 45%;
}

.my-babies {
  display: inline-block;
  margin: 0 5%;
}

.profile-img {
  border-radius: 100%;
}


.baby-list {
  margin-top: 10px;
  list-style: none;
  margin-left: -40px;
}
.baby-list li {
  display: inline;
}

ul > h4.baby-name {
  margin-bottom: 5px;
}
/*******************************************/



/****** IMAGE ADDING ************/
.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.profile-img {
  border-radius: 100%;
}


/******** BABY FORM ************/
.baby-form {
  padding-left: 15%;
  padding-right: 15%;
}
/*******************************/


/***** DELETE IMAGES PAGE *****/
.imgWrapper {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 100px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.imgWrapper > p {
  padding-top: 30px;
  text-align: center;
}

.imgWrapper > p > a {
  color: white;
  text-decoration: none;
}

.imgWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;

}
/***********************/


/****** RANDOM *********/
.stat-history {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.profile-name {
  margin-bottom: 10px;
}
/**********************/






/****** OLD TIMELINE (DEPRECATED) ******/
#visualization {
  margin: 3% 0;
  height: 30%;
  width: 90%;
}

#visualization2 {
  margin: 3% 0;
  height: 30%;
  width: 90%;
  display: none;
}

.caption {
  height: 100%;
  width: 100%;
}

.caption:hover {
  cursor: pointer;
}

#hidden {
  font-weight: 200;
  width: 50%;
  height: 400px;
  overflow: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 3% 25%;
  position: absolute;
  top: 0;
  left: 0%;
  text-align: center;
  font-size: 25px;
  display: none;
  z-index: 100;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

#hidden-header {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-size: 36px;
}

.blurb {
  font-size: 16px;
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
}

.timeline-img {
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.modal-button {
  margin-top: 25px;
  margin-bottom: 20px
}

.off {
  line-height: 36px;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 14px;
  top: 3px;
  right: 3px;
  height: 32px;
  width: 60px;
  color: #000;
  z-index: 1000;
}
/**************************/

/******** BOOTSTRAP OVERRIDES ************/

.btn {
  border-radius: 0px;
}

.navbar-default {
    background-image: url("http://images2.layoutsparks.com/1/215352/fun-stripes-different-image-31000.jpg");
}

