.navbar-default {
  color: #CCFFFF;
}

li {
  list-style-type: none;
}

.container {
  margin-top: -5px;
}

.welcome-title {
  background: image-url("baby.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 89vh;
  width: 110%;
  overflow-x: hidden;
  text-align: center;
}

.welcome-message {
  margin-top: 20%;
}

/****** STYLE FOR PROFILE PIC **************
.baby-profile {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
}
*******************************************/

.babies {
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

.my-babies {
  display: inline-block;
}

.profile-img {
  border-radius: 100%;
}

.baby-list {
  margin-top: 10px;
  list-style: none;
  margin-left: -40px;
}
.baby-list li {
  display: inline;
}

ul > h4.baby-name {
  margin-bottom: 5px;
}

.time-button {
  margin-top: 2px;
}

.baby-maker {
  margin-top: 15px;
  text-align: center;
}



.baby-form {
  padding-left: 15%;
  padding-right: 15%;
}

#scroll-off {
  display: none;
}

.btn-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-margins-large {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-margins-top {
  margin-top: 15px;
  margin-bottom: -5px
}

.btn-margins-bottom {
  margin-top: -5px;
  margin-bottom: 15px;
}


#visualization {
  margin: 3% 0;
  height: 30%;
  width: 90%;
}

#visualization2 {
  margin: 3% 0;
  height: 30%;
  width: 90%;
  display: none;
}


.caption {
  height: 100%;
  width: 100%;
}

.caption:hover {
  cursor: pointer;
}

#hidden {
  font-weight: 200;
  width: 50%;
  height: 400px;
  overflow: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 3% 25%;
  position: absolute;
  top: 0;
  left: 0%;
  text-align: center;
  font-size: 25px;
  display: none;
  z-index: 100;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}


#hidden-header {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-size: 36px;
}


.blurb {
  font-size: 16px;
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
}

.timeline-img {
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.modal-button {
  margin-top: 25px;
  margin-bottom: 20px
}

.off {
  line-height: 36px;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 14px;
  top: 3px;
  right: 3px;
  height: 32px;
  width: 60px;
  color: #000;
  z-index: 1000;
}


.profile-name {
  margin-bottom: 10px;
}

.stat-history {
  display: inline-block;
  text-align: center;
  margin: 10px;
}


.imgWrapper {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 100px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,65,54, 0.32);
  color: #fff;
  visibility: hidden;
  opacity: 0;
}


.imgWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.social-share-button {
  float: right;
  display: inline;
  margin-top: 0px;
  width: 100px;
}

.float-right {
  float: right;
}

.social-container {
  margin-top: 20px;
}

.social-container .links {
  margin-bottom: 40px;

  }

.social-container .links a {
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #fff;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-twitter:hover {
  color: #75caeb;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-facebook:hover {
  color: #44609D;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-google-plus:hover {
  color: #DD4B39;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-pinterest:hover {
  color: #BD081C;
  }


  .source {
  width: 350px;
  margin: 0 auto;
  background: #eee;
  color: #666;
  font-weight: bold;
  display: block;
  white-space: pre;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
  -webkit-box-shadow: inset #ccc 0px 0px 6px 0px;
     -moz-box-shadow: inset #ccc 0px 0px 6px 0px;
      box-shadow: inset #ccc 0px 0px 6px 0px;
  }

