/****** GENERAL SITE STYLES *******/

body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgba(251,255,216,.5);
  margin: 0;
  padding: 0;
  height:100%;
}

a#no-event-btn {
  margin-bottom: 15px;
}

.timeline-start {
  margin-top: 10px;
  width: 95%;
}

a#eventBtn {
  margin-bottom: 290px;
}

.navbar-default {
  color: #CCFFFF;
  border-color: pink;
}

.navbar-brand {
  padding-top: 5px;
}

.circle {
  background: white;
  border-radius: 50%;
  border: 1px solid rgb(245, 234, 111);
  height: 50px;
  width: 50px;
  padding-top: 10px;
  padding-left: 4px;
}


li {
  list-style-type: none;
}

.container {
  margin-top: -5px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}


//============login footer fix

input.btn.btn-info {
  margin-bottom: 70px;
}

a.btn.btn-primary.btn-md.fa.fa-facebook-official {
  margin-bottom: 70px;
}


//======================

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

a.edit-link {
  color: gray;
}

.add-profile {
  height: 220px;
  width: 220px;
}

.add {
  padding-top: 45%;
}



.profile-img {
  border-radius: 100%;
}


/****** HOME PAGE STYLES *******/

.first-time-user {
  width: 95%;
  margin: 0 auto;
}

.new-user-image {
  margin: 30px auto;
  display: block;
}

.new-user-list {
  padding-left: 0;
}

.fist-timer-btn {
  margin-bottom: 20px;
}

/***********************/

.navbar-default .navbar-nav>li>a {
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f6e976;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 3px;
  color: #000000;
}

/******* ABOUT **************/
.about-page {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  height: 100%;
}

.dev-column {
  margin-right: 5px;
  width: 280px;
}

.bio {
  padding-left: 15px;
  padding-right: 15px;
}

.about-pic .top {
  z-index: 99;
  position: absolute;
  margin-left: 22%;
  border-radius: 100%;
  border: 3px solid #9F21F6;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.about-pic .top:hover {
  opacity: 0;
}

.about-pic .bottom {
  z-index: 1;
  position: absolute;
  margin-left: 22%;
  border-radius: 100%;
  border: 3px solid #9F21F6;
}

.about-body {
  margin-top: 183px;
}
/***********************/

/****** BUTTON STYLES *******/

.btn-margins {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-margins-stats {
  margin-top: 0px;
  margin-bottom: 15px;
}

.btn-margins-large {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-margins-medium {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-margins-top {
  margin-top: 15px;
  margin-bottom: -5px
}

.btn-margins-bottom {
  margin-top: -5px;
  margin-bottom: 15px;
}

.btn-sm{
  margin-bottom:5px;
  border-radius: 80px;
  border: 1px solid #fdffeb;
}

/***********************/


/****** SOCIAL BUTTONS *******/
.social-container {
  margin-top: 20px;
}

.social-container .links {
  margin-bottom: 40px;

  }

.social-container .links a {
  margin: 0 20px;
  color: #ccc;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #fff;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-twitter:hover {
  color: #75caeb;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-facebook:hover {
  color: #44609D;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-google-plus:hover {
  color: #DD4B39;
  }

body > div > div.btn-margins-large > div.social-container > div > div > a.prettySocial.fa.fa-pinterest:hover {
  color: #BD081C;
  }

.source {
  width: 350px;
  margin: 0 auto;
  background: #eee;
  color: #666;
  font-weight: bold;
  display: block;
  white-space: pre;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      border-radius: 3px;
  -webkit-box-shadow: inset #ccc 0px 0px 6px 0px;
     -moz-box-shadow: inset #ccc 0px 0px 6px 0px;
      box-shadow: inset #ccc 0px 0px 6px 0px;
  }
/***************************/



/**** SPLASH PAGE ****/
.welcome-title {
  height: 89vh;
  width: 110%;
  left: -5%;
  text-align: center;
}

.welcome-message {
  margin-top: 2%;
}
/***********************/



/****** STYLE FOR PROFILE PIC **************
.baby-profile {
  border-radius: 100%;
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
}
*******************************************/



/***** BABIES INDEX PAGE AND RELATED PARTIAL *******/
.my-babies {
  display: inline-block;
  margin: 0 5%;
}


.my-babies {
  display: inline-block;
  background-color:#89bce7;
  border-radius: 20px;
  border: 5px solid #397fc7;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}


.my-babies {
  display: inline-block;
  margin: 0 5%;
  margin-bottom: 30px;
}

.baby-profile {
  margin-top: 2%;
}

.horizontal-class {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.baby-info {

  margin-top: 20px;
  margin-bottom: 20px;
}

body > div.container > div.col-md-12.container > div > div > div.horizontal-class > li {
  display: inline-block;
}

.float-right {
  float: right;
  margin-left: 30px;
  margin-top: 0px;
}

.float-left {
  float: left;
  margin-right: 30px;
  margin-top: 30px
}

.babies {
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
  display: inline-block;
  margin-top: 5px;
}

.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.grey-text {
  color: #666;
}

.buttons-inline {
  display: inline-block;
}

.grey-text:hover {
  color: #ccc;
  text-decoration: none;
}

.reduce-left-margin {
  margin-left: -15px
}

.reduce-top-margin {
  margin-top: -10px
}

a.edit-link {
  color: #397FC5;
}

.add-profile {
  height: 220px;
  width: 220px;
}

.add {
  padding-top: 45%;
}



.profile-img {
  border-radius: 100%;
}


.baby-list {
  margin-top: 10px;
  list-style: none;
  margin-left: -40px;
}
.baby-list li {
  display: inline;
}

ul > h4.baby-name {
  margin-bottom: 5px;
}
/*******************************************/



/****** IMAGE ADDING ************/
.add-pic-btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.profile-img {
  border-radius: 100%;
}


/******** BABY FORM ************/
.baby-form {
  padding-left: 15%;
  padding-right: 15%;
}
/*******************************/


/***** DELETE IMAGES PAGE *****/
.imgWrapper {
  display: inline-block;
  position: relative;
  height: 90px;
  width: 100px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.imgWrapper > p {
  padding-top: 30px;
  text-align: center;
}

.imgWrapper > p > a {
  color: white;
  text-decoration: none;
}

.imgWrapper:hover .imgDescription {
  visibility: visible;
  opacity: 1;

}
/***********************/


/****** RANDOM *********/
.stat-history {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.profile-name {
  margin-bottom: 10px;
}
/**********************/






/****** OLD TIMELINE (DEPRECATED) ******/
#visualization {
  margin: 3% 0;
  height: 30%;
  width: 90%;
}

#visualization2 {
  margin: 3% 0;
  height: 30%;
  width: 90%;
  display: none;
}

.caption {
  height: 100%;
  width: 100%;
}

.caption:hover {
  cursor: pointer;
}

#hidden {
  font-weight: 200;
  width: 50%;
  height: 400px;
  overflow: auto;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 3% 25%;
  position: absolute;
  top: 0;
  left: 0%;
  text-align: center;
  font-size: 25px;
  display: none;
  z-index: 100;
  -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.4);
}

#hidden-header {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-size: 36px;
}

.blurb {
  font-size: 16px;
  margin-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
}

.timeline-img {
  margin-top: 10px;
  width: 300px;
  height: auto;
}

.modal-button {
  margin-top: 25px;
  margin-bottom: 20px
}

.off {
  line-height: 36px;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 14px;
  top: 3px;
  right: 3px;
  height: 32px;
  width: 60px;
  color: #000;
  z-index: 1000;
}
/************ - Footer - **************/

footer{
  border-top: 5px solid pink;
  margin-top: 150px;
  padding: 20px 0;
  text-align: center;
  background-image: url(verticalStripes.jpg);
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}


ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    text-decoration: none;
    background-color: #75caeb;
}


/******************************************/


/******** BOOTSTRAP OVERRIDES ************/

.navbar-default {
    background-image: url(verticalStripes.jpg);
    margin-bottom: 50px;
}

/******** CANVAS!!!! *******/
#canvas {
   width: 600px;
   height: 400px;
}
/**************************/
