<div class="first-timer-stats">

  <h3>Log your baby's growth here!</h3>

  <p>Start by clicking on Create an Update to record your child's measurements. Remember to do this often. Then view the graphs to see how your baby is growing.</p>

</div>