<div class="row">
  <div class="col-md-8 col-offset-md-2">

  <h2><%= "#{@baby.name}'s" %> Progress</h2>

<h3>Most Recent Growth Measurments</h3>

<div class="baby-stats">
  <div class="table-responsive">
    <table class="table table-condensed baby-recent">
      <thead>
        <tr>
          <th>Date</th>
          <th>Weight</th>
          <th>Height</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'stats' %>
      </tbody>
    </table>
  </div>
</div>


<!-- Button trigger modal -->
<%= link_to 'Create an Update', new_baby_stat_path, :class=>'btn btn-success', :data=>{toggle:'modal',target:'#myModal'} %>
<!-- Button trigger stat-history modal -->

<%= link_to 'See All Measurements', baby_stat_modal_path, :class => 'btn btn-primary', :data=>{toggle: 'modal', target: '#myModal' }  %>


  </div>
</div>




<!-- New Stat Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>